*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: solid 1px royalblue; */

}

html {
    font-size: 62.5%;
    background-color: #222;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

/* not inserted yet */
.logoimg {
    color: #eee;
    filter: invert(100%);
    border: solid 1px red;
}

.logo {
    font-size: 2rem;
    color: #eee;
}

.menu li {
    list-style: none;
    padding: 2rem 2rem;
}

.menu li a {
    font-size: 2rem;
    color: #eee;
    text-decoration: none;
    cursor: pointer;
    display: block;
    text-transform: uppercase;

}

a:hover {
    text-decoration: underline;
}

/* navbars */

.bars,
.bars::before,
.bars::after   {
    background-color: #fff;
    display: inline-block;
    height: .2rem;
    width: 2rem;
    position: relative;
}

.bars::before {
    content: '';
    position: absolute;
    top: -.5rem;
}

.bars::after {
    content: '';
    position: absolute;
    top: .5rem;
}

.item {
    width: 100%;
    display: block;
    text-align: center;
    order: 3;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-height: 0;
    transition: max-height 1s ease-out;
    overflow: hidden;
}

.menu-btn:checked ~ .menu {
    max-height: 50rem;
}

.menu-btn {
    display: none;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    order: 1;
}

.logodiv {
    padding: 2rem;
}


.item {
    order: 1;
}

.menu-icon {
    cursor: pointer;
    justify-content: flex-end;
    /* margin: 2rem; */
    padding: 2rem;
    order: 3;
}
