@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    background-color: #222;
    color: white;
    font-family: "Oswald", sans-serif;
}

.header {
    background-color: #111;
    position: fixed;
    width: 100%;
    z-index: 3;
    padding: 3rem 2rem;
}

.menu li {
    list-style: none;
}

.login-button a,
.menu li a {
    font-size: 1.5rem;
    color: #eee;
    text-decoration: none;
    cursor: pointer;
}

.logo {
    color: white;
}

.logodiv,
.logodiv a {
    font-size: 3rem;
}

.logodiv a {
    text-decoration: none;
}

.menu-icon {
    cursor: pointer;
}


/* navbars */

.bars,
.bars::before,
.bars::after   {
    background-color: #fff;
    display: inline-block;
    height: .3rem;
    width: 3rem;
    position: relative;
    
}

.bars::before {
    content: '';
    position: absolute;
    top: -1rem;
    transition: all .3s ease-out;
}

.bars::after {
    content: '';
    position: absolute;
    top: 1rem;
    transition: all .3s ease-out;
}

.menu-btn:checked ~ .menu-icon .bars{
    background: transparent;
}

.menu-btn:checked ~ .menu-icon .bars::before{
    transform: rotate(45deg);
    top: 0;
}

.menu-btn:checked ~ .menu-icon .bars::after{
    transform: rotate(-45deg);
    top: 0;
}

.button.secondary {
    background: linear-gradient(90deg, rgb(240, 111, 64), rgb(255, 69, 0));
    background-color: rgb(240, 111, 64);
    border-radius: 5rem;
    display: inline-block;
    position: relative;
    left: 43%;
    padding: 1.5rem 3rem;
    cursor: pointer;
    border: 5px solid rgb(148, 43, 5);
}


.button.secondary:hover {
    border-left: 5px solid rgb(240, 111, 64);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgb(255, 69, 0);
}

/* Finally starting with positioning things */

.nav-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr;
    align-content: center;
    margin: 0 2rem;
    gap: 2rem;
    justify-content: center;
}

.logodiv {
    display: flex;
    order: 1;
    grid-column: 1/2
}

.menu {
    display: flex;
}


.menu {
    order: 2;
    grid-column: 2/6;
    padding: 8rem;
    height: 100vh;
}

.menu li {
    padding: 1.5rem;
    text-align: center;
    margin: 2rem auto;
}

.login-button {
    order: 3;
    grid-column: 7;
    font-size: 1.5rem;
    position: relative;
    top: .5rem;
}

.hamburger {
    order: 4;
    grid-column: 8;
    position: relative;
    top: .5rem;
}


/* menu */
/* need to slide it down instead of letting it come directly */
.mobile-show {
    display: block;
}

.mobile-hide {
    overflow: hidden;
    display: none;
}

.menu-btn {
    display: none;
}



